#friends-toolbar {
	height: 60px;
	margin-right: 5px;
}

.profile-fullname {
	margin-top: 2px;
	margin-bottom: 4px;
}
.profile-username {
	margin-top: 2px;
	margin-bottom: 4px;
}

#friends-toolbar {
    height: 60px;
    margin-right: 5px;
}

.profile-fullname {
    margin-top: 2px;
    margin-bottom: 4px;
}

.profile-username {
    margin-top: 2px;
    margin-bottom: 4px;
}

.friend-grid-user {
    margin-bottom: 15px;
    height: 215px;
}

.profile-friends-pagination {
    margin-top: 15px;
}

.media-user {
    font-size: 1.0em;
}

.media-footer {
    font-size: 0.9em;
    color: #aaa;
    margin-bottom: 30px;
}

.media-images {
    margin: 10px 10px 7px 10px ;
   padding: 10px 10px 7px 10px ;
}

.media-left {
    margin: 20px 20px 20px 20px;
}

.feed-comment {
    margin-top: 50px;
}

.feed-message-comments {
    margin-top: 10px;
}

.media-footer-likes {
    margin-top: 5px;
}

.media-text {
    font-size: 0.9rem;
}

.img-thumnbnail {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.media-object {
    float: left;
    padding: 15px 15px 10px 20px;
    margin: 20px 20px 20px 20px;
}

.media-body {
    float: left;
    padding: 15px 15px 10px 20px;
    margin: 20px 20px 20px 20px;
}
