
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{#          <div class="navbar-header">#}
{#            <a class="navbar-brand" href="{{ url_for('home_app.home') }}">#}
{#           <img src="{{ url_for('static', filename='images/mountains.jpg')}}" alt="whw logo" width="82" height="20"  >#}
{#            </a>#}
{#      </div>#}

    <div class="collapse navbar-collapse" >

    <ul class="nav navbar-nav">
{#     {% if session.username %}#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="#">{{ session.username }} <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#       {% else %}#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="#">Un-user</a>#}
{#      </li>#}
{#        {% endif %}#}

    {% if session.username %}

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{  session.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('user_app.profile',username=session.username) }}">View profile</a>
          <a class="dropdown-item" href="{{ url_for('user_app.edit') }}">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for ('user_app.change_password') }}">Change password</a>
        </div>
      </li>
    {% endif %}

  {% if session.username %}
    <li class="active">
        <a href="{{ url_for('user_app.logout') }}" class="nav-link">Logout</a>
    </li>
    {% else %}
    <li class="active">
        <a href="{{ url_for('user_app.login') }}" class="nav-link">Login</a>
        <a href="{{ url_for('user_app.register') }}" class="nav-link">Register</a>
    </li>
    {% endif %}
{#      <li class="nav-item active">#}
{#        <a class="nav-link disabled" href="#">Disabled</a>#}
{#      </li>#}
    </ul>
</div>
</nav>
